backend/taxi_nyc_backend
frontend/taxi_nyc_frontend
backend/notebooks/.ipynb_checkpoints
backend/notebooks/Rosneft.ipynb
backend/notebooks/taxi_trip_duration.ipynb
backend/notebooks/catboost_info
backend/__pycache__
backend/catboost_info
backend/request_test.py
backend/cli_commands.txt
.DS_Store
backend/src/__pycache__
backend/src/features/__pycache__
backend/src/data/__pycache__
backend/src/model/__pycache__

