.DS_Store

backend/__pycache__
backend/catboost_info
backend/notebooks/.ipynb_checkpoints
backend/notebooks/1_raw_data_processing.ipynb
backend/notebooks/2_catboost_tune.ipynb
backend/notebooks/3_testing.ipynb
backend/notebooks/catboost_info
backend/notebooks/taxi_trip_duration.ipynb
backend/notebooks/Rosneft.ipynb
backend/src/__pycache__
backend/venv
backend/cli_commands.txt
backend/request_test.py
backend/.DS_Store

frontend/cache
frontend/__pycache__
frontend/src/__pycache__
frontend/venv
frontend/cli.txt
frontend/.DS_Store
