pandas==1.4.2
numpy==1.22.3
seaborn==0.11.2
matplotlib==3.5.2
PyYAML==6.0
scikit-learn==1.0.1
catboost==1.0.6

fastapi==0.75.1
uvicorn==0.17.4
requests==2.27.1

ipykernel==6.13.0
jupyter==1.0.0
notebook==6.4.11